@{
}

<div style="text-align:end">
    <p class="fs-2">Total: $00.00</p>
</div>


<div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4">
        <div class="clearfix" style="background-color:#022A30">
            <div class="text-center" style="padding-top:5%;">
                <p class="text-warning">Detalles de Tarjeta</p>
            </div>
            <div class="text-center" style="padding-top:5%;">
                <p class="text-white">Seleccionar Tipo de Tarjeta</p>
            </div>
            <div class="text-center" style="padding-top:5%;">
                <p class="text-white">Numero de Tarjeta</p>
            </div>
        </div>
    </div>
</div>
